= turbo_frame_tag memory do
  = render @memory

  .flex.justify-center.items-center.my-10
    = link_to 'もっと見る', root_path, data: { turbo: false }, class: 'block relative bg-white hover:bg-sky-100 text-sky-400 border-sky-400 border-2 font-bold rounded py-3 px-8 text-center mx-auto text-lg w-52 z-20'
