= turbo_stream.prepend 'memories', @memory
= turbo_stream.update 'flash', partial: 'layouts/flash'
= turbo_stream.update 'memories-count', partial: 'category_memories/memories-count'
= turbo_stream.replace @category
