@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary-btn {
    @apply bg-sky-400 hover:bg-sky-300 text-white font-bold rounded;
  }

  .edit-btn {
    @apply bg-sky-400 hover:bg-sky-300 text-white font-bold rounded py-2 w-36 sm:w-44;
  }

  .link {
    @apply text-gray-700 hover:text-gray-500;
  }

  .link-with-underline {
    @apply text-gray-700 hover:text-gray-500 underline hover:no-underline;
  }

  @media (hover: none) and (pointer: coarse) {
    .more-link:hover {
      @apply bg-sky-100 scale-95;
    }
  }

  select {
    @apply rounded;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
  }
}

@layer utilities {
  .max-h-80vh {
    max-height: 80vh;
  }
}
